<% provide(:title, 'Inloggen') %>
<div class="container custom-page" style="padding-top: 30px;">
  <h1 class="visible-sm visible-md visible-lg text-center" style="color: #428bca;"><%= yield(:title) %></h1>
  <div>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <div class="form-group">
        <%= f.label 'E-mail' %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label 'Wachtwoord' %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <%= f.submit "Inloggen", class: "btn btn-large btn-primary" %>
    <% end %>

    <table class="table">
      <tr>
        <td style="text-align: center; padding: 20px 0px 10px 0px; border:none;">Nieuwe gebruiker? <%= link_to "Aanmelden", signup_path %>
      </tr>
    </table>   
  </div>
</div>

