<fieldset>
  <!-- f.select :field_type, %w[text_field check_box shirt_sizes], class: "form-control" -->
<table class="table">
  <tr>
    <td style="padding: 0px 10px 0px 0px; border:none;">
      <%= f.label 'Product' %>
      <%= f.collection_select(:product, Product.all, :id, :name, {prompt: true}, class: "form-control") %>
    </td>
    <td style="padding: 0px 10px 0px 0px; border:none;">
      <%= f.label 'Aantal' %>
      <%= f.text_field :amount, placeholder: "Aantal", class: "form-control" %>
    </td>
    <td style="padding: 32px 0px 0px 0px; border:none;">
      <%= f.hidden_field :_destroy %>
      <%= link_to "", '#', class: "remove_fields glyphicon glyphicon-remove" %>
    </td>
  </tr>
</table>

</fieldset>
