<% provide(:title, 'Nieuwe factuur') %>
<div class="container custom-page">
  <h1 class="visible-sm visible-md visible-lg text-center" style="color: #428bca;"><%= yield(:title) %></h1>
  <div style="padding-top: 30px;">
    <%= form_for(@invoice) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>


        <!-- f.label 'Contact' -->
        
        <!-- f.collection_select(:contact_id, Contact.all, :id, :name, {prompt: true}, class: "form-control") -->


  	  <div class="form-group">
        <%= f.label 'Contact' %>
        <%= f.collection_select(:contact_id, @contact, :id, :name, {prompt: "Selecteer contactpersoon"}, class: "form-control") %>
      </div>

      <div class="form-group">
    		<%= f.label 'Factuurdatum' %>
    		<%= f.date_field :date, class: "form-control" %>
  	  </div>

      <div class="form-group">
        <%= f.fields_for :fields do |builder| %>
          <%= render 'field_fields', f: builder %>
        <% end %>
      </div>
      <%= link_to_add_fields "Voeg product toe", f, :fields %>

      
      <table class="table">
        <tr>
          <td style="text-align: left; padding: 20px 0px 10px 0px; border:none;"><a href="/invoices" class="btn btn-primary btn-sm" style="border:none;">Annuleren</a></td>
          <td style="text-align: right; padding: 20px 0px 10px 0px; border:none;"><%= f.submit "Verder", class: "btn btn-primary btn-sm", style: "border:none;" %></td>
        </tr>
      </table>   
    <% end %>
  </div>
</div>