<% @contactid = @invoice.contact_id %>
<% @currency = @setting.currency %>
<% @btw_procent = @setting.btw %>
<% @term = @setting.term %>

<% provide(:title, 'Factuur') %>
<div class="container custom-page" style="padding-top: 30px;">
  <h1 class="visible-sm visible-md visible-lg text-center" style="color: #428bca;"><%= yield(:title) %></h1>

  	<div class="row">
		<div class="col-sm-7">
			<p>
				<%= Contact.find(@contactid).company %><br>
				T.a.v. <%= Contact.find(@contactid).name %><br>
				<%= Contact.find(@contactid).address %><br>
				<%= Contact.find(@contactid).postcode %> <%= Contact.find(@contactid).city %>
			</p>
		</div>


		<div class="col-sm-4 col-sm-offset-1">
			<small>
				<%= @profile.company %><br>
				<%= @profile.address %><br>
				<%= @profile.postcode %> <%= @profile.city %><br>
				<%= @profile.site %><br>
				<%= @profile.email %><br>
				Kvk: <%= @profile.kvk %><br>
				BTW: <%= @profile.btw %><br>
				IBAN: <%= @profile.account %><br>
				Tel: <%= @profile.phone %>
			</small>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h3>Factuur</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<span><strong>Factuurdatum:</strong> <%= @invoice.date %></span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<span><strong>Factuurnummer:</strong> <%= @factnr %></span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<span><strong>Vervaldatum:</strong> <%= @invoice.date + @term %></span>
		</div>
	</div>


	<div class="row" style="padding-top: 20px;">
		<div class="table-responsive">
		 	<table class="table">
		 		<tr>
		 			<th style="width: 15%;">Aantal</th>
		 			<th style="width: 65%;">Product</th>
		 			<th style="width: 20%; text-align: right;">Bedrag in <%= @currency %></th>
		 		</tr>
		 		<% @sub = 0 %>
		 		<% @product_fields.each do |product| %>
		 			<tr>
		 				<td><%= product.amount %></td>
		 				<td><%=  Product.find(product.product).name %></td>
		 				<td style="text-align: right;"><%= @currency %> <%  @price = product.amount.to_i * Product.find(product.product).price %><%= number_with_precision(@price, :precision => 2) %></td>
		 			</tr>
		 			<% @sub += @price %>
		 		<% end %>


		 		<tr>
		 			<td></td><td></td><td></td>
		 		</tr>
		 		
		 		<tr>
		 			<td></td>
		 			<th style="text-align: right;">Subtotaal:</th>
		 			<td style="text-align: right;"><%= @currency %>  <%= number_with_precision(@sub, :precision => 2) %></td>
		 		</tr>

		 		<tr>
		 			<td></td>
		 			<th style="text-align: right;">BTW <%= @btw_procent %>%:</th>
		 			<td style="text-align: right;"><%= @currency %>  <% @btw = @btw_procent * @sub / 100 %><%= number_with_precision(@btw, :precision => 2) %></td>
		 		</tr>

		 		<tr>
		 			<td></td>
		 			<th style="text-align: right;">Totaal:</th>
		 			<td style="text-align: right;"><%= @currency %> <% @totaal = @sub + @btw %><%= number_with_precision(@totaal, :precision => 2) %></td>
		 		</tr>
		 	</table>
		</div>
	</div>




	<div class="row">
		<div class="col-sm-2 text-center" style="padding-top: 10px;">
			<span>
				<strong>IBAN:</strong><br>
				 <%= @profile.account %>
			</span>
		</div>
		<div class="col-sm-2 col-sm-offset-3 text-center" style="padding-top: 10px;">
			<span>
				<strong>Factuurnummer:</strong><br>
				<%= @factnr %>
			</span>
		</div>
		<div class="col-sm-2 col-sm-offset-3 text-center" style="padding-top: 10px;">
			<span>
				<strong>Factuurbedrag:</strong><br>
				<%= @currency %> <%= number_with_precision(@totaal, :precision => 2) %> 
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 text-center" style="padding-top: 30px;">
			<small>Wij verzoeken u vriendelijk het verschuldigde bedrag binnen <%= @term %> dagen over te maken onder vermelding van het factuurnummer <%= @factnr %>.</small>
		</div>
	</div>

  	<%=  %>

      
	  <table class="table">
	    <tr>
	      <td style="text-align: left; padding: 20px 0px 10px 0px; border:none;"><%= link_to "Annuleren", @invoice, :method => :delete, class: "btn btn-primary btn-sm" %></td>
	      <td style="text-align: right; padding: 20px 0px 10px 0px; border:none;"><%= link_to "Exporteer PDF", invoice_path(@invoice, format: "pdf"), class: "btn btn-primary btn-sm" %></td>
	    </tr>
	  </table>   

</div>