<% @contactid = @invoice.contact_id %>
<% @productid = @invoice.product_id %>
<% provide(:title, Contact.find(@contactid).company) %>
<div class="container custom-page" style="padding-top: 30px;">
  <h1 class="visible-sm visible-md visible-lg text-center" style="color: #428bca;"><%= yield(:title) %></h1>

  	<div class="row">
		<div class="col-sm-7">
			<p>
				<%= Contact.find(@contactid).company %><br>
				T.a.v. <%= Contact.find(@contactid).name %><br>
				<%= Contact.find(@contactid).address %><br>
				<%= Contact.find(@contactid).postcode %> <%= Contact.find(@contactid).city %>
			</p>
		</div>


		<div class="col-sm-4 col-sm-offset-1">
			<small>
				FactuurApp<br>
				Science Park 900<br>
				1000AA Amsterdam<br>
				www.factuurapp.nl<br>
				info@factuurapp.nl<br>
				Kvk: 12345678<br>
				BTW: 123456789B12<br>
				IBAN: NL12ABCD1234567890<br>
				Tel: 06-12345678
			</small>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h3>Factuur</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<span><strong>Factuurdatum:</strong> <%= @invoice.date %></span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<span><strong>Factuurnummer:</strong> Moet nog gefixt worden</span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<span><strong>Vervaldatum:</strong> <%= @invoice.date + 14 %></span>
		</div>
	</div>

	<div class="row" style="padding-top: 20px;">
		<div class="table-responsive">
		 	<table class="table">
		 		<tr>
		 			<th>Aantal</th>
		 			<th>Product</th>
		 			<th style="text-align: right;">Bedrag in [valuta]</th>
		 		</tr>

		 		<% @invoices.each do |invoice| %>
		 			<tr>
		 				<td><%= invoice.amount %></td>
		 				<td><%= Product.find(@productid).name %></td>
		 				<td style="text-align: right;"><%= Product.find(@productid).price %></td>
		 			</tr>
		 		<% end %>

		 		<tr>
		 			<td></td><td></td><td></td>
		 		</tr>
		 		
		 		<tr>
		 			<td></td>
		 			<th style="text-align: right;">Subtotaal:</th>
		 			<td></td>
		 		</tr>

		 		<tr>
		 			<td></td>
		 			<th style="text-align: right;">BTW[percentage]%:</th>
		 			<td></td>
		 		</tr>

		 		<tr>
		 			<td></td>
		 			<th style="text-align: right;">Totaal:</th>
		 			<td></td>
		 		</tr>
		 	</table>
		</div>
	</div>




	<div class="row">
		<div class="col-sm-2"><%= Contact.find(@contactid).company %></div>
		<div class="col-sm-2 col-sm-offset-3"><%= Contact.find(@contactid).company %></div>
		<div class="col-sm-2 col-sm-offset-3"><%= Contact.find(@contactid).company %></div>
	</div>

  	

      
	  <table class="table">
	    <tr>
	      <td style="text-align: left; padding: 20px 0px 10px 0px; border:none;"><a href="/invoices" class="btn btn-primary btn-sm" style="border:none;">Terug</a></td>
	      <td style="text-align: right; padding: 20px 0px 10px 0px; border:none;"><a href="/invoices" class="btn btn-primary btn-sm" style="border:none;">Exporteer Pdf</a></td>
	    </tr>
	  </table>   

</div>