<% @contactid = @invoice.contact_id %>
<% @valuta = "€" %>
<% @btw_procent = 0.21 %>
<% provide(:title, 'Factuur') %>
<div class="container custom-page" style="padding-top: 30px;">
  <h1 class="visible-sm visible-md visible-lg text-center" style="color: #428bca;"><%= yield(:title) %></h1>

  	<div class="row">
		<div class="col-sm-7">
			<p>
				<%= Contact.find(@contactid).company %><br>
				T.a.v. <%= Contact.find(@contactid).name %><br>
				<%= Contact.find(@contactid).address %><br>
				<%= Contact.find(@contactid).postcode %> <%= Contact.find(@contactid).city %>
			</p>
		</div>


		<div class="col-sm-4 col-sm-offset-1">
			<small>
				FactuurApp<br>
				Science Park 900<br>
				1000AA Amsterdam<br>
				www.factuurapp.nl<br>
				info@factuurapp.nl<br>
				Kvk: 12345678<br>
				BTW: 123456789B12<br>
				IBAN: NL12ABCD1234567890<br>
				Tel: 06-12345678
			</small>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h3>Factuur</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<span><strong>Factuurdatum:</strong> <%= @invoice.date %></span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<span><strong>Factuurnummer:</strong> Moet nog gefixt worden</span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<span><strong>Vervaldatum:</strong> <%= @invoice.date + 14 %></span>
		</div>
	</div>



	
	<div class="row">
		<div class="col-sm-12">
			<span><strong>Invoice_id in invoices:</strong> <%= @invoice.id %></span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<span><strong>Invoice_id in product_field:</strong> <%= @product_field.invoice_id %></span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<span><strong>Invoice_id in product_field:</strong> <%= @product_field.amount %></span>
		</div>
	</div>



	<div class="row" style="padding-top: 20px;">
		<div class="table-responsive">
		 	<table class="table">
		 		<tr>
		 			<th style="width: 15%;">Aantal</th>
		 			<th style="width: 65%;">Product</th>
		 			<th style="width: 20%; text-align: right;">Bedrag in [valuta]</th>
		 		</tr>

		 		
		 			<tr>
		 				<td><%= @product_field.amount %></td>
		 				<td><%=  Product.find(@product_field.product).name %></td>
		 				<td style="text-align: right;"><%= @valuta %> <%=  @price = Product.find(@product_field.product).price %></td>
		 			</tr>
		 		


		 		<tr>
		 			<td></td><td></td><td></td>
		 		</tr>
		 		
		 		<tr>
		 			<td></td>
		 			<th style="text-align: right;">Subtotaal:</th>
		 			<td style="text-align: right;"><%= @valuta %> <%= @subtotaal = @product_field.amount.to_f * @price.to_f %></td>
		 		</tr>

		 		<tr>
		 			<td></td>
		 			<th style="text-align: right;">BTW <%= @btw_procent * 100 %>%:</th>
		 			<td style="text-align: right;"><%= @valuta %> <%= @btw_totaal = @subtotaal * @btw_procent %></td>
		 		</tr>

		 		<tr>
		 			<td></td>
		 			<th style="text-align: right;">Totaal:</th>
		 			<td style="text-align: right;"><%= @valuta %> <%= @totaal = @subtotaal + @btw_totaal %> </td>
		 		</tr>
		 	</table>
		</div>
	</div>




	<div class="row">
		<div class="col-sm-2 text-center" style="padding-top: 10px;">
			<span>
				<strong>IBAN:</strong><br>
				 <%= Contact.find(@contactid).account %>
			</span>
		</div>
		<div class="col-sm-2 col-sm-offset-3 text-center" style="padding-top: 10px;">
			<span>
				<strong>Factuurnummer:</strong><br>
				Moet nog gefixt worden
			</span>
		</div>
		<div class="col-sm-2 col-sm-offset-3 text-center" style="padding-top: 10px;">
			<span>
				<strong>Factuurbedrag:</strong><br>
				<%= @valuta %> @totaal 
			</span>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 text-center" style="padding-top: 30px;">
			<small>Wij verzoeken u vriendelijk het verschuldigde bedrag binnen 14 dagen over te maken onder vermelding van het factuurnummer.</small>
		</div>
	</div>

  	

      
	  <table class="table">
	    <tr>
	      <td style="text-align: left; padding: 20px 0px 10px 0px; border:none;"><a href="/invoices" class="btn btn-primary btn-sm" style="border:none;">Terug</a></td>
	      <td style="text-align: right; padding: 20px 0px 10px 0px; border:none;"><a href="/invoices" class="btn btn-primary btn-sm" style="border:none;">Exporteer Pdf</a></td>
	    </tr>
	  </table>   

</div>