<% provide(:title, 'Wijzig contact') %>
<h1>Wijzig contact</h1>
  <div>
    <%= form_for(@contact) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label 'Bedrijfsnaam' %>
      <%= f.text_field :company %>

      <%= f.label 'Contactpersoon' %>
      <%= f.text_field :name %>

      <%= f.label 'E-mail' %>
      <%= f.text_field :email %>

      <%= f.label 'Straatnaam + huisnummer' %>
      <%= f.text_field :address %>

      <%= f.label 'Postcode' %>
      <%= f.text_field :postcode %>

      <%= f.label 'Plaatsnaam' %>
      <%= f.text_field :city %>

      <%= f.label 'KvK nummer' %>
      <%= f.text_field :kvk %>

      <%= f.label 'BTW nummer' %>
      <%= f.text_field :btw %>

      <%= f.label 'Rekeningnummer' %>
      <%= f.text_field :account %>

      <%= f.submit "Wijzigingen opslaan", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
